<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Vue Router</title>
</head>
<body>
    <div id="app">

        <h1>Task Vue Router</h1>
         <router-link to="/halaman1">Halaman 1</router-link>
         <router-link to="/halaman2">Halaman 2</router-link>
         <router-link to="/halaman3">Halaman 3</router-link>

         <router-view></router-view>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script>
        const Component1 = {
            template : `
             <div>
                Ini Halaman 1
             </div>
            `
        }

        const Component2 = {
            template : `
             <div>
                Ini Halaman 2
             </div>
            `
        }

        const Component3 = {
            template : `
             <div>
                Ini Halaman 3
             </div>
            `
        }

        const NotFound = {
            template : `
             <div>
                404 Not Found
             </div>
            `
        }

        const BlogComponent = {
            computed : {
                title : function(){
                    let slug = this.$route.params.slug

                    return slug.split('-').join(' ').toUpperCase()
                }
            },

            template : `
                <div> Ini Judul Blog : {{ title }}</div>
            
            `
        }

        

        const routes = [
            {
                path : '/halaman1',
                component : Component1 ,
                name : 'Halaman 1',
                alias : '/halaman'
            },
            {
                path : '/halaman2',
                component : Component2 ,
                name : 'Halaman 2',
                meta : { login: true}
            },
            {
                path : '/halaman3',
                component : Component3 ,
                name : 'Halaman 3',
                meta : { login: true, role: 'admin'}
            },
            {
                path : '/404',
                component : NotFound,
                name : 'NotFound '
            },
            {
                path : '/blog/:slug',
                component : BlogComponent,
                name : 'Blog'
            },
            {
                path : '*',
                redirect : '/404'
            }
        ]

        const router = new VueRouter({
            mode : 'history',
            routes
        })

        router.beforeEach((to, from, next) => {
            if (to.matched.some(record => record.meta.login)) {
                let auth = true
                if(!auth){
                    alert('Halaman ini hanya untuk user yang sudah Login')
                    next(false)
                }else{
                    next()
                    alert('Berhasil Masuk')
                }
                
            }
            else{
                next()
            }
        })

        router.beforeEach((to, from, next) => {
            if (to.matched.some(record => record.meta.role)) {
                if(role == 'admin'){
                    alert('Halaman ini hanya untuk user yang sudah Login dan bertindak sebagai Admin')
                    next(false)
                }else{
                    next()
                    alert('Berhasil Masuk')
                }
                
            }
            else{
                next()
            }
        })


        
        let vm = new Vue({
            el:     '#app',
            router 
        })
    </script>
</body>
</html>